html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body { overflow-x: hidden; }

section{
  margin: 50px 0;
  .container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }
}


h1,h3{
  text-align: center;
  margin: 15px 0;
}
pre{
  margin: 10px 0;
  background: #000000;
  color: white;
  padding: 10px;
  border-radius: 5px;
  line-height: 20px;
}

.flex-container{
  width: 100%;
  max-width:500px;
  height:300px;
  background:lightblue;
  margin: auto;
  display: flex;
  .flex-item{
    color: white;
    background: tomato;
  }
  .flex-item:nth-child(odd){
    background: teal;
  }
}
