.cls3-container5{
  /* PROPIEDAD : order */
  height: 300px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  //los items se apiñan en su eje pero con el flex-wrap se pasan ala otra linea
  flex-wrap: wrap;
  align-content: space-between;
  .flex-item{
    color: white;
    background: tomato;
  }
  .flex-item:nth-child(odd){
    background: teal;
  }
  .flex-item{
    flex: 0 1 24%;
    margin-bottom: 7px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //todos los items tienen el order cero
  //order: 1; los pone al final
  //order: -1; los pone al inicio
  .item5{
    order: 1;
  }
}