h3 Clase 1 Ejemplo Dados
div(class='flex-container dados')
	div(class='cara-1')
		div(class='punto')
	div(class='cara-2')
		div(class='punto')
		div(class='punto')
	div(class='cara-3')
		div(class='punto')
		div(class='punto')
		div(class='punto')
	div(class='cara-4')
		div(class='col')
			div(class='punto')
			div(class='punto')
		div(class='col')
			div(class='punto')
			div(class='punto')
	div(class='cara-5')
		div(class='col')
			div(class='punto')
			div(class='punto')
		div(class='col')
			div(class='punto')
		div(class='col')
			div(class='punto')
			div(class='punto')
	div(class='cara-6')
		div(class='col')
			div(class='punto')
			div(class='punto')
			div(class='punto')
		div(class='col')
			div(class='punto')
			div(class='punto')
			div(class='punto')