h1 Flexbox Guia definitiva Parte 1
h2 Que es Flexbox?
pre
	|No es una propiedad, es un modelo de layout el cual es un conjunto de algoritmos en el navegador
	br
	|que definen como un elemento va a aparecer en la pantalla en el sentodo de su posicion y su tamaño respecto a sus
	br
	|elementos hermanos y elementos padres.
pre
	|CSS es mucho más que poner un valor y una propiedad.
	br
	|debemos entender bien el comportamiento de los elementos para comprender qué es lo que pasa en el render del navegador.
pre
	|El cambio a flexbox a puesto una crisis como lo fue hace algunos años pasar de Pixel Perfect a RWD.
	br
	|Hay una diferencia muy grande entre entender algo y dominarlo es otra cosa.
	br
	|esto podria durar hasta un año y hay que tener calma.
	br
	|En flexbos no existen los width y los height y los tamaños de las cajas y varian tal y como las conociamos
	br
	|ya que aparecen bajo un nuevo paradigma
	br
	| tambien las alineaciones y los margenes se reinventan y se manejan de una forma diferente a la que estabamos acostumbrados
	br
	|las cosas se reescriben al vuelo.
h2 Que nos permite hacer Flexbox?
pre
	|Nos permote alinear los elementos en un eje vertical y horizontal que no existia antes en css para los modelos de caja.

	|Podemos redefinir el orden en el que aparecen los elementos en el render alterando
	br
	|la posicion en el flujo poniendo el primer elemento de un flujo al final entre otras cosas
	br
	|aunque eso no reescribe el html asi que para efectos de SEO hay que tenelo en cuenta.
	br
	|define la orientacion de los elementos de derecha a izquierda, de arriba hacia abajo, etc.
	br
	|otra cosa es tener tamños flexibles para las cajas
	br
	|alinear a los elementos como nos plazca respecto al padre como a sus elementos hermanos
	br
	|Este requiere necesariamente un elemento padre para afectar a sus elementos hijos.