//Aqui veremos como distribuir y alinear elementos en el je principal y el eje secundario

.ejemplo6{
  //======================================================================

  //flex-direction: row;
  //flex-direction: row-reverse;
  //flex-direction: column;
  //flex-direction: column-reverse;


  //======================================================================
  //justify-content: flex-start;
  //justify-content: flex-end;
  //justify-content: center;
  //justify-content: inherit;
  //justify-content: space-around;
  justify-content: space-between;

  //======================================================================

  //align-items: stretch;
  align-items: flex-start;
  //align-items: center;
  //align-items: flex-end;
  //align-items: baseline;
  //align-items: inherit;


  .flex-item:nth-child(odd){
    background: teal;
  }

  .flex-item:nth-child(2){
    align-self: center;
    //este sobre escribe solo al item
  }
  .flex-item:nth-child(3){
    align-self: end;
    //este sobre escribe solo al item
  }

}