//Aqui veremos como distribuir y alinear elementos en el je principal y el eje secundario

.ejemplo5{
  //======================================================================

  //flex-direction: row;
  //flex-direction: row-reverse;
  flex-direction: column;
  //flex-direction: column-reverse;


  //======================================================================
  //justify-content: flex-start;
  //justify-content: flex-end;
  //justify-content: center;
  //justify-content: inherit;
  justify-content: space-around;
  //justify-content: space-between;

  //======================================================================

  //align-items: stretch;
  //align-items: flex-start;
  align-items: center;
  //align-items: flex-end;
  //align-items: baseline;
  //align-items: inherit;

  .flex-item:nth-child(odd){
    background: teal;
  }
  .flex-item:nth-child(2){
    font-size: 5em;
  }
}